  /* Header */

header {
    border-bottom: 2px solid transparent;
    background-image: linear-gradient(to bottom, #eee, #f5f5f5);
    padding-bottom: 5px;
  }
  
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    margin-left: -20%;
    margin-top: 10%;
    width: 200px; 
  }
  

  /*Titulo y contorno*/

.listado-apply {
    width: 400px; 
    margin: 150px auto 0; 
    padding: 30px; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  
  .section-heading {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
    /* Datos */

  label {
    display: block; /* Mostrar en bloque */
    margin-bottom: 10px; /* Espacio inferior */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 95%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
    /* Botones */

  button {
    padding: 10px 20px; /* Espaciado interno */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
  }
  
  button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
  }
  